.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bg-contact {
    background: url(../img/bg-signup.jpg) no-repeat;
    background-size: 100% 100%;  
    width: 100%;
}

.bg-contact > .transparence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,  #45454550, black);
    width: 100%;
    padding: 450px 0px;
}

.bg-contact > .transparence > .icon > img {
    width: 50px;
    padding-bottom: 20px;
    -webkit-filter: invert(100%);
}

.bg-contact > .transparence > .subscribe > h1 {
    color: white;
    padding-bottom: 60px;
}

.bg-contact > .transparence > .form > input {
    height: 50px;
    width: 500px;
    padding: 0 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bg-contact > .transparence > .form > button {
    color: white;
    height: 50px;
    background-color: #64a19d;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0 35px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bg-contact > .transparence > .form > button:hover {
    background-color: #487c79;
    transition: 400ms;
}


.bg-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: black;
    width: 100%;
}

.bg-media > .cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 3px;
    width: 350px;
    margin: 10px;
    padding: 30px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.bg-media > .cardbox > .content  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.bg-media > .cardbox > .content > img {
    width: 20px;
}

.bg-media > .cardbox > .content > h1 {
    padding: 10px 0 30px 0;
    text-transform: uppercase;
}

.bg-media > .cardbox > .content > p {
    color: #919191;
    padding-top: 30px;
}

.bg-media > .cardbox > .content > a {
    color: #64a19d;
    padding-top: 30px;
    padding-bottom: 6px;
}

.green-detail-contact {
    width: 100px;
    height: 5px;
    background-color: #64a19d;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media > img {
    width: 50px;
}

@media (max-width: 599px) {
    .section-contact > .bg-contact {
        height: 100%;
    }
    
    .bg-contact > .transparence {
        padding: 0;
        height: 600px;
    }

    .bg-media {
        flex-direction: column;
    }

    .bg-contact > .transparence > .form > input {
        width: 300px;
    }

    .bg-contact > .transparence > .form {
        display: flex;
        flex-direction: column;
    }

    .bg-media > .cardbox {
        width: 300px;
    }
    
    .subscribe {
        text-align: center;
    }
}