footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column-1 {
    flex-direction: column;
}

.column-2 {
    flex-direction: column;
}

.column-3 {
    flex-direction: column;
}